<html>
	<head>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	</head>
	<body>
		<nav class="navbar">
					
		</nav>
		<div class="container">
		<section id="section1" class="panel panel-default">

			<div class="panel-heading">
			<div class="container">
	    		<h3 class="panel-title">Browse your files</h3>
	    		</div>
		  	</div>
	  		<div class="panel-body">
				<ul>
				<% for(var i=0; i<Contents.length; i++) {%>
				<li><a href="/download?file=<%= Contents[i].Key %>"><%= Contents[i].Key %></a>  <a href="/delete?file=<%= Contents[i].Key %>">delete</a></li>
				<% } %>
				</ul>

	  
<a href="/">Go back</a>

	  		</div>
			<footer class="panel-footer">
				
			</footer>
		</section>
	</div>		
	</body>
</html>


